body {
  font-family: Arial, sans-serif;
  background-color: #d1ecff;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}


hr {
  margin: 40px auto;
  border: none;
  height: 2px;
  width: 100%;
  background-color: #0078D7;
}


#result {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0077ff;
}